<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link href="output.css" rel="stylesheet" />
    <meta name="description" content="{{description}}" />
    <script
      src="components/navigation.js"
      type="text/javascript"
      defer
    ></script>
  </head>

  <body>
    <navigation-component></navigation-component>
    <h1 class="text-grey">{{{title}}}</h1>
<style>
  body{
    background-image: url({{hero-img}});
    background-size: 100% 100%;
  }

</style>

{{!-- <div class="md:container md:mx-auto bg-white opacity-75">
<div class="mt-4 mb-6"> --}}
<div class="mb-3 text-xl font-bold"><h2>{{{intro.header}}}</h2></div>
<div class="text-sm text-neutral-600 text-blue"><p>{{{intro.message}}}</p></div>
{{!-- </div>
</div> --}}
</div>
<hr />
{{#if collections.projects.length}}
<ul>
{{#each collections.projects}}
<li>
<h3><a href="/{{link}}">{{title}}</a></h3>
</li>
{{/each}}
</ul>
{{else}}
<p>No projects to show</p>
{{/if}}

<div class="flex p-4">
<div class="container mx-auto bg-white">
  <p>something </p>
  <p>something else below</p>
</div>
</div>
</body>
</html>